        <section class="grey-background box">

            <ul id="todo-list" class="list-group margin" ng-init="getTodoList()">   
                <li ng-repeat="todo in todos track by $index" class="item-element dark-blue-background" ng-if="(todo.isComplete === true && !activeTab.includes('Active'))||(todo.isComplete === false && !activeTab.includes('Completed'))">
                    <div>
                        <button type="button" class="btn btn-default" ng-click="updateTodo(todo.id, todo.isComplete, todo.title)">
                            <input type="checkbox" id="tick" ng-model="todo.isComplete">
                            </input>
                        </button> 

                        <div id="item" ng-if="todo.isComplete&&!updating" class="complete-item poiret-font">
                            {{todo.title}}
                        </div>

                        <div id="item" ng-if="!todo.isComplete&&!updating" class="incomplete-item poiret-font">
                            {{todo.title}}
                        </div>

                        <input type="text" id="item" ng-if="updating" class="incomplete-item grey-background" ng-model="todo.title" >
                        </input>

                        <div class="right-box">
                            <button id="deleteButton" type="button" class="btn btn-default" ng-click="deleteTodo(todo.id)">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>

                            <button id="updateButton" type="button" class="btn btn-default" ng-hide="updating" ng-click="updating=true">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </button>

                            <button id="doneButton" type="button" class="btn btn-default" ng-show="updating" ng-click="updateTodo(todo.id, todo.isComplete, todo.title); updating = false;">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            </button>

                            <button id="commentButton" type="button" class="btn btn-default" ng-click="commentOn = !commentOn;">
                                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                            </button>

                        </div>

                        <div class="list-group margin" ng-show="commentOn">
                            <form id="todo-form" class="create-element grey-background no-border" ng-submit="commentTodo()">
                                <input id="new-todo" class="incomplete-item grey-background" placeholder="Comments" style="width: 80%; outline:none; border:0px solid" ng-model="todoComment" autofocus>
                                <input id="submit-todo" type="submit" class="btn btn-default create" value="Comment">
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
            
        </section>